page-home-vehicle-add{
  ion-item .toggle-ios .toggle-icon {
    background-color: #5d5d5d;
  }
  .toggle-ios .toggle-inner{
    background-color: #e6e6e6;
  }
  .top.item-ios{
    background-color: #e2e2e2;
  }
  .show{display: block;}
  .hide{display: none;}
}
