page-mine-vehicle-license-tag {
  .cp{width: 3.6rem;height: 2.1em;font-size: 1.3rem;position: relative;}
  .cp .button-small-ios{font-size: 1.4rem; position: absolute;left: 0 ;right: 0; z-index: 11111; margin: 0;padding: 0 0.6em;}
  .sc{padding-right: 0;margin-right: 0;}
  .sc .iconfont{ font-size: 32px;}
  .home-list{margin-top: 5rem;}
}
