<ion-content>
  <ion-header>
    <ion-toolbar color="white">
      <ion-title>{{title}}</ion-title>
      <ion-buttons end>
        <button ion-button icon-only color="dark" (click)="dismiss()">
          <ion-icon name="ios-close-outline"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div class="alert-content">
    <div class="content-info">
      <!--延保悉知-->
      <ul *ngIf="type == 0"><li>承保条件：<br>1.行驶时间不超过8年车辆；<br>2.行驶里程不超过15万公里车辆；<br>3.7座及7座以下车辆；<br>4.汽油发动机汽车；<br></li><li>下列类型车辆不能承保，请仔细核对投保车辆，确保不是下列车型：<br>1.柴油发动机车型；<br>2.混合动力车型；<br>3.电动车型；<br>4.液化气驱动车型；<br>5.转子发动机车型；<br>6.所有发动机12缸和12缸以上的车型<br>7.有营运记录的车辆和曾经用于营运的车辆；<br>8.特种车；<br>9.改装车；<br>10.超级跑车；</li></ul>
      <!--三包悉知-->
      <ul *ngIf="type == 1"></ul>
      <!--延保套餐说明-->
      <ul *ngIf="type == 2"></ul>
      <!--三包套餐说明-->
      <ul *ngIf="type == 3"></ul>
      <!--喷漆券说明-->
      <ul *ngIf="type == 4"></ul>
      <!--服务协议-->
      <div class="fwxy" *ngIf="type == 5">
          <h3>
            第一部分：保修内容<br/>
            以下延保车辆在延保购买前均经认证，并确保以下不存在已知故障：
          </h3>
          <p><b>一、基础部件保修方案（即两大部件）。</b></p>
          <h3>1、发动机：指为机动车提供动力的裸机。</h3>
          <h3>气缸体：缸体、曲轴、活塞、活塞环、活塞销、曲轴主轴承、轴承、轴瓦、轴瓦盖、连杆、平衡轴、飞轮；</h3>
          <h3>缸盖及配气机构：缸盖、缸盖衬垫、凸轮轴、轴承、气门、气门油封、气门导管、气门挺杆、气门弹簧及弹簧座、气门推杆、摇臂、摇臂轴、摇臂衬套、正时链条、正时链轮（齿轮）、可变气门正时系统；</h3>
          <h3>附件：气门室盖及垫、正时室外罩及垫、正时链条涨紧器、机油冷却器、机油泵、油底壳（含机油油位及品质传感器）、油底壳垫、机油尺导管、机油尺。</h3>
          <h3>2、变速器：指变速器本体，不包含任何外置的零部件</h3>
          <h3>手动变速器(MT)部件：变速器箱体内的润滑部件，含轴承、齿轮、同步器、轴、拨叉、变速器壳体；</h3>
          <h3>自动换挡式手动变速器(AMT)部件：离合器液压驱动总成，变速器箱体内的润滑部件，含液压泵、轴承、齿轮、轴、；电磁阀、传感器、变速器内部线束；变速器壳体；</h3>
          <h3>自动变速器(AT)部件：变速器箱体内的润滑部件，含液力变矩器、各轴承、齿轮、轴、阀体；电磁阀、传感器、变速器内部线束；变速器壳体；</h3>
          <h3>无极自动变速器(CVT)部件：变速器箱体内的润滑部件，含液压变扭器（或离合器）、液压泵、轴承、齿轮、传速带、传速鼓、轴、阀体；电磁阀、传感器、变速器内部线束；传动机构；变速器壳体；</h3>
          <h3>自动变速器控制单元只有内置变速箱体内，才属于保障范围内的部件，其他情况一律不属于保障部件。</h3>
          <h3>（二）不被保障的部件：</h3>
          <h3>凡没有在“被保修部件”中列明的零部件，或虽然被列明但并非是由车辆制造商或其授权特约维修商提供并安装在车辆上的零部件，均不属于保修方案的被保修零部件，包括但不限于：</h3>
          <h3>1.	车辆出厂按照销售合同配置以外的任何新增加设备；</h3>
          <h3>2.	根据保养（保修）手册，每隔一定时间或行驶里程必须或应该更换的零部件，例如：摩擦片、发动机正时皮带等常用易损件；</h3>
          <h3>3.	两大系统中单独更换油类、润滑脂、工作液等均不在保修范围内；</h3>
          <h3>4.	轮毂轴承、离合器片、离合器压盘、分离轴承、离合器踏板总成、换档杆总成、挂档机构、拨叉、倒档轴和倒档齿轮、球头；</h3>
          <h3>5.	在非车辆制造商的授权特约维修商处维修或保养车辆时，被安装在车辆上的零部件；</h3>
          <h3>6.	不更换重要零部件的单独密封件损坏不保修；</h3>
          <h3>7.	所有电力驱动或者混合动力系统零部件。</h3>

          <h3>（三）下列情形和事项下均不能获得保修服务：</h3>
          <h3>1、由于以下情形直接或间接导致车辆零部件（即使是被保障的零部件）发生故障：</h3>
          <h3>(1)车辆驾驶人员未遵守车主手册中的有关操作规定，不当使用车辆，或者超出操作或使用限制范围，过度使用车辆，包括但不限于：</h3>
          <h3>a.在车辆缺乏必要数量的冷却液或润滑油，或者仪表显示冷却液或润滑油已经过热或不足等情况下，继续驾驶车辆；</h3>
          <h3>b.使用与车辆制造商规定不符、不合格或者与车主手册中的规定不匹配的燃料、润滑油等油、液；</h3>
          <h3>c.拖拽重量超过车辆自身重量60%的其它车辆等；</h3>
          <h3>(2)车辆实际驾驶人员在离开车辆时，没有主动或监督门窗、车顶自动关闭系统关闭天窗、车窗、车门、或活动式车顶；</h3>
          <h3>(3)车辆实际使用者在非约定车辆维修商处维修或者保养车辆，因维修或保养不当导致的故障；</h3>
          <h3>(4)由于不被保障的零部件发生故障导致被保障的零部件发生损坏；</h3>
          <h3>(5)使用非原汽车制造商的零部件引发的故障及维修费用；</h3>
          <h3>(6)车辆涉水行驶，发生交通事故，被外界物体撞击，自燃；</h3>
          <h3>(7)火灾、爆炸、空中运行物体坠落、音爆；</h3>
          <h3>(8)战争、敌对行为、军事行为、恐怖主义行为、武装冲突、罢工、民众骚乱、暴动；</h3>
          <h3>(9)盗窃、抢劫、抢夺、诈骗行为；</h3>
          <h3>(10)核爆炸、核反应、核辐射、放射性污染；</h3>
          <h3>(11)地震、海啸、飓风、暴雨、洪水、雷击、火山爆发、地下火、龙卷风、暴风、冰雹等自然灾害；</h3>
          <h3>(12)烟熏、大气、土地、水污染及其他污染；</h3>
          <h3>(13)动物、昆虫侵入或啃咬；</h3>
          <h3>2、只要发生以下情况，无论任何原因导致车辆零部件（即使是被保障的零部件）发生故障，都不能获得保修服务：</h3>
          <h3>(1)车辆的发动机号码、车辆识别代号等车辆相关信息与保修服务合同中所记载的不符，或者已经被涂改；</h3>
          <h3>(2)要求提供保修服务时，保修服务合同的服务期限尚未开始或者已经终止；</h3>
          <h3>(3)车辆实际使用者没有按照保修服务合同的约定，对于车辆进行定期保养、故障维修或意外损坏修复；</h3>
          <h3>(4)车辆被改装，不符合车辆制造商原厂规格，包括但不限于：改装或加装进排气系统零部件，改装或加装燃油系统零部件、软件变更等；</h3>
          <h3>(5)除非符合车辆制造商原设计目的，车辆被用于竞赛、赛车前导、越野等用途；或者被用于租赁、作为出租车/计程车、教练车、配送或快递车辆等任何以盈利为目的的商业用途；</h3>
          <h3>(6)车辆被用于公共服务(包括但不限于：警车、消防车、救护车、救助车或者军用车等)用途；</h3>
          <h3>(7)车辆被用于非制造商原设计目的；</h3>
          <h3>(8)车辆被政府有关当局没收、征用，或者其它类似事件使您对于车辆失去了控制；</h3>
          <h3>(9)车辆在中国大陆（不包括香港、澳门、台湾）以外的任何地区；</h3>
          <h3>(10)车辆的里程表失效而未被及时（48小时内）恢复，里程表连接被拆除或未连接，或者里程表读数被调整过；</h3>
          <h3>(11)车辆实际使用者在车辆出现故障后，故意破坏其原始状态，造成故障无法被检测、鉴定、或评估；</h3>

          <h3>(12)车辆实际使用者在车辆出现故障后，恶意夸大损失，提供不真实的证明材料，或企图使用欺诈手段谋取利益；</h3>
          <h3>(13)车辆行驶证被吊销或者没有登记，以及车辆未按照法规检验或检验不合格。</h3>
          <h3>3、以下费用或损失，或由于以下情况引起的费用或损失，不属于保修服务内容，本公司不予承担：</h3>
          <h3>(1)按照保修服务合同的约定，对于车辆进行定期保养所引起的费用；</h3>
          <h3>(2)维修或更换非保障零部件所引起的费用；</h3>
          <h3>(3)与被保障零部件无关的任何维护、保养、检测、调试、调整、或校正，包括但不限于：轮胎动平衡、车门窗密闭性校正等；</h3>
          <h3>(4)被保障零部件仅需清洗即可恢复正常工作时的拆装和清洗等费用；</h3>
          <h3>(5)单独车轮定位（在我们针对被保障零部件为您提供保修服务的过程中必须进行的除外）；</h3>
          <h3>(6)生锈、侵蚀、霉变；</h3>
          <h3>(7)车辆没有发生故障，单纯以提高车辆的工作性能或舒适性为目的的维修所引起的费用。这种维修包括但不限于：</h3>
          <h3>a.单纯为了提高发动机的压缩比或减少油耗，而对发动机缸体或活塞环进行的修理或更换；</h3>
          <h3>b.单纯为了降低车内噪音，而在车辆上添加隔音材料等；</h3>
          <h3>(8)保修服务合同签署时，车辆已经存在的故障所引起的维修费用；</h3>
          <h3>(9)在车辆已经发生故障的情况下，继续行驶，导致故障或损失扩大的部分；</h3>
          <h3>(10)在车辆已经发生故障的情况下，不及时（24小时内）向我们报告，导致故障或损失扩大的部分；</h3>
          <h3>(11)车辆被召回维修所引起的费用；</h3>
          <h3>(12)经国家质量技术监督检验机构或第三方专业技术机构鉴定，车辆存在由于涉及制造等方面的原因而在某一批次、型号或类别的机动车辆中普遍存在的具有同一性的质量问题或隐藏瑕疵；</h3>
          <h3>(13)在维修车辆故障时，车辆内遗留的任何财/物的损失；</h3>
          <h3>(14)车辆发生故障，或在维修期间不能使用，所引起的任何直接、间接、或衍生性费用或损失，包括但不限于：</h3>
          <h3>a.驾乘人员或第三者的人身伤亡、财产损失、收入损失、商业利益损失、时间损失、不方便、不舒适；</h3>
          <h3>b.因延误、滞留、或车辆不能使用引起的通讯费、电话费、食宿费、租车费、燃料费、交通费、差旅费；</h3>
          <h3>c.因违反性能、时间、效率、或质量的保证所遭受的罚款等；</h3>
          <h3>(15)在车辆须经拆解才可以进行故障检测、鉴定、或评估的情况下，若拆解后发现故障不符合提供保修服务的条件时，拆解车辆的费用；</h3>
          <h3>(16)车辆发生故障后，车辆实际使用者在没有经过我们书面同意的情况下，对于车辆进行维修所引起的任何费用或损失；</h3>
          <h3>(17)任何原因导致的车辆价值降低损失。</h3>
          <h3>(18)任何罚金和罚款，或任何与保证性能或功效相关的罚金、违约金和罚款。</h3>
          <h3>(19)在保修服务合同项下的维修，已经由其他服务合同，质量担保，机械故障保险，或维修机构担保涵盖的费用或损失。</h3>
        <h3 margin-top>第二部分：</h3>
        <p margin-vertical><b>客户要按照厂家相应要求定期到指定4S店或维修中心进行保养服务（原则上正负1000KM）；否则会影响质保索赔服务。</b></p>
        <p margin-vertical><b>&emsp;&emsp;本人已经收悉《机动车延长保修服务条款》并仔细阅读相关条款，尤其是保障范围、责任免除、您的责任、条款终止等条款内容，并对《机动车延长保修服务条款》内容的说明和提示完全理解，没有异议。</b></p>
      </div>
    </div>
    <ion-footer padding-horizontal>
      <button ion-button color="base" block (click)="dismiss()">确定</button>
    </ion-footer>
  </div>
</ion-content>
