<ion-header>
  <ion-navbar>
    <ion-title>{{type == 1 ? '发动机' : '变速器'}}部分</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div *ngIf="type == 1">
    <ion-card>
      <ion-card-header color="base" text-center>
        气缸盖部分
      </ion-card-header>
      <ion-list ion-row>
        <ion-item col-6>
          气缸盖
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          气门室盖
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          气门室盖分油板
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          气缸盖衬垫
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          凸轮轴瓦盖
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          凸轮轴瓦架
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          凸轮偏心轴瓦盖
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          凸轮偏心轴瓦架
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          凸轮轴瓦
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          凸轮轴
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          偏心轴
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          进气门
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          排气门
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          气门导管
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          气门弹簧及弹簧座
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          气门锁片
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          气门挺柱
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          气门挺杆
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          气门推杆
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          气门摇臂
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          气门摇臂轴
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          气门摇臂衬套
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          气门间隙调整螺钉
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card>
    <ion-card>
      <ion-card-header color="base" text-center>
        正时部分
      </ion-card-header>
      <ion-list ion-row>
        <ion-item col-6>
          金属材质的时规盖
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          金属材质的正时链条外罩
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          正时齿轮
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          正时链轮
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          正时链条涨紧轮
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          正时链条涨紧器
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          正时链条导板
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          正时皮带（保修前提：车主按车辆制造商要求进行了定期更换）
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          正时皮带涨紧轮
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          正时皮带涨紧器
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          凸轮轴齿盘（可变配气相位机构）、可变配气相位机械执行机构。
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card>
    <ion-card>
      <ion-card-header color="base" text-center>
        气缸部分
      </ion-card-header>
      <ion-list ion-row>
        <ion-item col-6>
          气缸体
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          缸套
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          活塞
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          活塞环
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          活塞销
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          活塞销卡圈
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          连杆
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          连杆瓦
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          连杆瓦盖
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          曲轴
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          曲轴瓦
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          曲轴链轮
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          止推瓦
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          曲轴瓦盖
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          曲轴瓦架
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          平衡轴
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          平衡轴齿轮
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          平衡轴瓦
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          机油滤清器支座
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          机油集滤器及滤网
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          机油泵
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          机油泵链轮
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          机油泵链条
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>
  <div *ngIf="type == 2">
    <ion-card>
      <ion-card-header color="base" text-center>
        手动变速器(MT)部件
      </ion-card-header>
      <ion-list ion-row>
        <ion-item col-6>
          各齿轮
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          同步器
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          锁环
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          外锥环
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          输入轴
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          输出轴
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          中间轴
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          换档杆轴
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          换挡拨叉
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          换挡机构盖
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          主减速器齿轮组
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          差速器
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
        <ion-item col-6>
          各种轴承/轴衬
          <ion-icon item-end color="secondary" name="ios-checkmark-outline"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>
</ion-content>
