page-home-working{
  .content-ios{ background-color: #ffffff !important;}
  div.bg{
    height: 200px;
    width: 100%;
    margin: 16px 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
  p{font-size: 1.7rem; margin: 16px 0}
}
